.itens {
  list-style: none;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  font-size: 2em;
  cursor: pointer;
  
}

.itens > li {
  transition: all 0.2s;
  align-self: center;
}

.itens > li:hover {
  color: rgb(93, 206, 93);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 1em 0px;
  z-index: 2;
}

.menu_pc,
.menu_pc_openned {
  display: none;
  cursor: pointer;
}

.menu_mobile,
.menu_mobile_oppened {
  cursor: pointer;
  
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navWrapper span {
  font-size: 3em;
  display: flex;
}

.headerOpen {
  background-color: black;
  color: white;
}

.headerClosed {
  background-color: black;
  color: rgb(255, 255, 255);
}

.centerPage {
  margin: 2em;
}

@media screen and (width >= 728px) {
  .menu_mobile,
  .menu_mobile_oppened {
    display: none;
  }
  .menu_pc,
  .menu_pc_openned {
    display: block;
  }
  .body {
    display: grid;
    grid-template-columns: repeat(20, 3fr);
    
  }
  .header {
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    height: 100vh;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .centerPage {
    margin: 0;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    height: 100vh;
    text-align: center;
  }

  .headerOpen {
    
    background-color: black;
    grid-column: 1 / 3;
    color: white;
  }

  .headerClosed {
    width: 0.1px;
    color: black;
    position: relative;
  }

  .headerClosed span {
    position: absolute;
    left: 4vw;
  }
}
