.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    border: 3px solid black;
    height: 100px;
    width: 500px;
    position: relative; /* Faz toda a diferença em colocar onde quer o icone */
    border-radius: 10px;
    transition: all 0.5s;
}

.box::before{ /* Bolinha Preta no meio */
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
}

.arrow{
    font-size: 40px;
    position: absolute; /* Faz toda a diferença em colocar onde quer o icone */
    cursor: pointer;
    top: 50%; /* Deixa o Icone no meio */
    transform: translateY(-50%); /* Deixa o Icone no meio */
}


.arrow.left{
    left:20px;
}

.arrow.right{
    right:20px;
}


@media  screen and (max-width: 600px) {
    .box{
        height: 100px;
        width: 300px;
    }
}